.cadastroPagina{
    height: max-content;
    background-color: #F1E9DB;
}

.cadastroCorpo{
    padding-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
}

.cadastroFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-3{
    width: 100% !important;
    padding-right: 25px;
    padding-left: 25px;
}

.cadastroButtons{
    width: 60%;
    min-width: 200px;
}