.base {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F1E9DB;
}

.justify-content-end{
    display: flex;
    align-items: center;
}

.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    max-width: 850px;
    align-items: center;
    flex-grow: 1;
}

.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  
}

.formulario{
    
    max-width: 1000px;
}
.mb-3{
    width: auto;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

