.base {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.justify-content-end{
    display: flex;
    align-items: flex-end;
}

.container{
    margin-top: 341px;
    display: flex;
    flex-direction: column;
    max-width: 1113px;
    align-items: center;
    flex-grow: 1;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 825px;
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

