.pagina-quemsomos{
    width: 100%;
    background-color: #F1E9DB;
    height: max-content;
    padding-bottom: 30px;
}

.alinhamento-quemsomos{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

.footer{
    width: 100%;
    bottom: 0;
    margin-top: 50px;
}

.texto-quemsomos{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-width: 1000px;
    min-width: 300px;
    max-height: 400px;
    overflow: scroll;
    justify-content: center;
    font-family: 'Abhaya Libre';
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;     
}

.alinhamento-quemsomos{
    align-self: center;
}

@media (max-width: 400px){
    .texto-quemsomos{
        font-size: 2px;
    }
    
}

