.pagina-quemsomos{
    width: 100%;
    background-color: #F1E9DB;
    height: max-content;
    justify-content: center;
    
    
}

.justify-content-center-quemsomos{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.alinhamento-quemsomos{
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: center;
}

.footer{
    /* display: none; */
    width: 100%;
    bottom: 0;
    margin-top: 50px;
}

.texto-quemsomos{
    margin-top: 50px;
    width: 1100px;
    font-family: 'Abhaya Libre',;
    
    
}

.alinhamento-quemsomos{
    align-self: center;
}

