.corpo{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nome{
    width: 250px;
    font-weight: bold;
}

.artista{
    width: auto;
    
}

.autoria{
    display: flex;
    flex-direction:column;
    align-items: top;
    
}

.valor{
    flex-direction: column;
    display: flex;
    justify-content:end;
    align-items: top;
    
}