.CdModal{
    width: 60%;
    min-width: 340px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: #F1E9DB;
    border-radius: 11px;
    align-content: center;
    justify-content: center;
}
.corpo{
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    font-family: 'Abhaya Libre', serif;
}

.buttonsRow{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    max-height: 40px;
    align-self: end;
}

.carrinho{
    display: flex;
    justify-content: end;
    align-items: end;
}

@media (max-width: 1050px){
    .CdModal{
        width: 350px;
        min-width: 340px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #F1E9DB;
        border-radius: 11px;
        align-content: center;
        justify-content: center;
    }
}



