.categorias{
    width: 100%;
    background-color: #F1E9DB;
    height: max-content;
}

.categoriasTitulo{
    width: 100%;
    margin-top: 50px;
    padding-bottom: 50px;
}

.cartaContainer{
    /* position: relative; */
    padding-top: 20px;
    max-width: 1156px;
    height: max-content;
    display: grid;
    grid-row-gap: 52px;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(361px,1fr));
}

.footer{
    /* display: none; */
    width: 100%;
    bottom: 0;
}

.card{
    position: static !important;
}