.FaleConosco-pagina{
    background-color: #F1E9DB;
    height: max-content;
    height: 100%;

}

.FaleConosco-Titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.corpoFaleConosco{
    font-family: 'Abhaya Libre', serif;
    font-size: 2rem;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.rodapeFooter{
    bottom: 0;
    width: 100%;
    padding-top: 20px;
}
