.pagina{
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F1E9DB;
}

.maisPopulares{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Populares{
    width: 100%;
    position: center;
    justify-content: end;
    align-items: flex-start;
}

.cardTexto{
    justify-content: end;
    align-items: end;
}

.popularesContainer{
    display: grid;
    max-width: 1200px;
    width: 100%;
    flex-direction: row;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    grid-template-rows: 1;
}

.lancadosContainer{
    display: grid;
    max-width: 1200px;
    width: 100%;
    flex-direction: row;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    grid-template-rows: 1;
}

.todosContainer{
    display: grid;
    max-width: 1200px;
    width: 100%;
    flex-direction: row;
    grid-template-columns: repeat(auto-fill, minmax(260px,1fr));
    grid-template-rows: 1;
}

.modalStyle{
    display: flex;
    justify-content: center;
    align-items: center;
}
