.select {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.List{
    justify-content: center;
    width: 250px;
    display: flex;
    
}

.filtroText{
    color: #1A1423;
    text-align: center;
}

.filtro{
    
    justify-content: center;
    background-color: #F1E9DB;
    margin-top: 25px;
    display: flex;
    
    
}

.justify-content-center{
    justify-content: flex-end;
    top: 217px;
}

.justify-content{
    top: 217px;
}

.filterInput{
    width: 300px;
}


