.select {
    width: 100%;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.List{
    width: 250px;
    display: flex;
}

.filtroText{
    color: #1A1423;
    text-align: center;
}

.filtro{
    margin: "auto";
    align-items: center;
    background-color: white;
    top: 217px;
    
}

.justify-content-center{
    justify-content: flex-end;
    top: 217px;
}

.justify-content{
    top: 217px;
}

