.cabecalho{
    height: 150px;
    font-family: 'Abhaya Libre', serif;
    margin-bottom: 50px;
}
.card {
    position: inherit !important;
}
.header {
    display: flex;
    flex-direction: row;
    background-color: rgba(26,20,35,0.80);
    width: 100%;
    justify-content: start;
    padding-left: 63px;
    font-size: 1.3rem;
}

.navBar{
    width: 100%;
    justify-content: end;
}

.perfil{
    display: flex;
    width: 100%;
    justify-content: end;
}

.paginas{
    justify-content: end;
    height: 94.38px;
    align-content: end;
}

.gaveta{
    display: none;
    
}

.lista{
    height: 100%;
    width: 200px;
    background-color: #236084;
}

.ListItemText{
    color: white;
    margin-left: 10px;
}

.toolBar{
    background-color: #236084;
}

@media (max-width: 850px){
    .cabecalho{
        height: 60px;
    }
    
    .header{
        display: none;  
    }

    .gaveta{
        width: 100%;
        display: flex;
        position:fixed ;
        z-index: 1;
    }
}